* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}

:root {
    --background: #1e3888;
    --color2: #47A8BD;
    --success: #F5E663;
    --color4: #FFAD69;
    --error: #9C3848;
}

html,
body {
    height: 100%;
}